.image {
	width: 200px;
	height: auto;
	display: inline-block;
	position: center;
	top: 5px;
	left: 50px;
}
	.font-color {
		font-size: 40px;
		color: darkgreen;
	}
	.fc2 {
		font-size: 20px;
		color: saddlebrown;
	}
body{
	background-color: blanchedalmond;
	text-align: center;
}